---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';

$texel-primary: #FF4545;
$texel-secondary: #FF7B7B;
$texel-navbar-heart: #FF6060;
$texel-navbar-lambda: #6F6FFF;


$texel-aside-grey: #525252;

%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }
%noto { font-family: 'Noto Sans', sans-serif; }

footer p {
    text-align: center;
}

/* Img Fix
--------------------------------------------------
*/
.tile .inner-guts img {
    display: block;
    max-width: 100%;
    height: auto;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
}

p.centered img {
    margin-left: auto;
    margin-right: auto;
}

article iframe {
    display:block;
    max-width: 100%;
}

/* Graphics posts
 --------------------------------------------------
 */

.canvas-container {
    margin: 0px auto;
}

.wide-canvas {
    width: 100%;
}

.navbar-graphics {
    border-radius: 0px;
}

.navbar-graphics-top {
    margin: 0px auto;
}

.navbar-graphics-bottom {
    margin: 0px auto;
}

.navbar-label {
    position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
    color: $navbar-inverse-brand-color;
}

#animation-alerts .label {
    margin-right: 5px;
}

/* Bootstrap
 --------------------------------------------------
 */

blockquote {
    padding: 5px 10px;
    margin: 0 0 5px;
    font-size: 15px;
    line-height: 18px;
}

.btn-group-label {
    pointer-events: none;
}

/* Social buttons
--------------------------------------------------
*/

body {
    @extend %noto;
    font-size: 18px;
    line-height: 23px;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $texel-secondary;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}

nav.navbar {
    margin: 0;

    a {
        text-transform: uppercase;
        font-size: 16px;
    }

    .navbar-brand {
        text-transform: none;
        font-weight: bold;

        i {
            transition: inherit;
            color: $texel-primary;
            transform: scale(1);
        }

        &:hover i {
            color: $texel-navbar-heart;
            transform: scale(1.35);
        }

        &:hover .navbar-lambda {
            color: $texel-navbar-lambda;
        }

    }

    .navbar-right li.navbar-social {
        padding: 0px;

        a {
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
        }
    }
}

.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 10px 0 10px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}

.project-title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 50px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}

h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    color: $texel-primary;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;

/*
        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
*/
    }
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 40px;

    .inner-guts { padding: 10px; }

    h2 {
        margin: 0;;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -0.05em;
        // line-height: 100px;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 15px;
        width: 100%;
        height: 550px;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        color: #484848;

        p {
            margin: 0;
        }
    }

    .tags {
        left: 0;
        top: 100%;

        span {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            text-transform: uppercase;
            @extend %oswald;
        }
    }

    .read-more {
        margin-top: 10px;
        width: 100%;
        max-width: 175px;
        position: relative;
        padding-right: 75px;

        i {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-54%);
            font-size: 31px;
            line-height: 100%;
        }
    }
}

aside {
    font-size: 17px;
    line-height: 100%;
    color: $texel-aside-grey;
    margin: 0px 0;
    @extend %oswald;

    span {
        text-transform: none;
        // margin: 0 5px;
    }

    span.headline {
        text-transform: none;
        color: $texel-aside-grey;
        // margin: 0 5px;
    }

    span.title-subglyph {
        @extend %noto;
    }
}

//.title-group aside

.site-footer {
    /* margin-top: 200px; */
}

.pagination-wrap {
    text-align: center;
}

.topper {
    height: 500px;
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 15px -100px;
}

pre.highlight {
    padding: 0px;
}

pre.highlight code {
    white-space: pre;
    overflow-x: auto;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 18px;
        line-height: 27px;
    }
}
