{% include title-group.html %}

<div id="canvas-ui-bar-top" class="navbar navbar-inverse navbar-graphics navbar-graphics-top">
  <div class="container">
    <div class="btn-group navbar-left">
      <button id="btn-play-pause" class="btn btn-primary navbar-btn" onclick="togglePause()"><i class="fa fa-lg fa-pause"></i></button>
      <button id="btn-activate-mic" class="btn btn-primary navbar-btn" onclick="activateMic()"><i class="fa fa-lg fa-microphone"></i></button>
      <button id="btn-reset" class="btn btn-primary navbar-btn" onclick="setResetParticles()"><i class="fa fa-lg fa-refresh"></i></button>
      <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu">
        <li><a href="#" onclick="setResetParticlesWith('random')">Random Momentums</a></li>
        <li><a href="#" onclick="setResetParticlesWith('outward')">Outward: (x,y)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('inward')">Inward: (-x,-y)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('right-vortex')">Right Vortex: (y,-x)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('left-vortex')">Left Vortex: (-y,x)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('merger')">Merger: (-y,-x)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('vector-field-xy-x')">p(x,y) = (xy,-x)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('vector-field-y-xy')">p(x,y) = (y,xy)</a></li>
        <li><a href="#" onclick="setResetParticlesWith('zero')">Zero: (0,0)</a></li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><span class="navbar-label"></span></li>
    </ul>

    <div class="btn-group navbar-left">
      <button id="btn-activate-profile-2" class="btn btn-warning navbar-btn" onclick="activateProfile('random')"><i class="fa fa-lg fa-bolt"></i></button>
      <button id="btn-activate-profile-4" class="btn btn-warning navbar-btn" onclick="activateProfile('defaults')"><i class="fa fa-lg fa-refresh"></i></button>
    </div>

    <div class="btn-group navbar-right" data-toggle="buttons">
      <label class="btn btn-lit btn-lit-primary navbar-btn"><input id="toggle-plot-momentum" type="checkbox" autocomplete="off"/>Momentum</label>
      <!--<label class="btn btn-lit btn-lit-success navbar-btn"><input id="toggle-plot-force" type="checkbox" autocomplete="off"/>Force</label>-->
      <label class="btn btn-lit btn-lit-danger navbar-btn"><input id="toggle-plot-fps" type="checkbox" autocomplete="off"/>FPS</label>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><span class="navbar-label"><i class="fa fa-lg fa-line-chart"></i></span></li>
    </ul>
  </div>
</div>

<div id="main-canvas-container" class="canvas-container">
  <canvas id="main-canvas" class="wide-canvas" style="height:566px;"></canvas>
</div>

<div id="canvas-ui-bar-bottom" class="navbar navbar-inverse navbar-graphics navbar-graphics-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><span class="navbar-label"><i class="fa fa-lg fa-paper-plane-o"></i></span></li>
    </ul>

    <div class="btn-group navbar-left" data-toggle="buttons">
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="physics-method" value="0"/>Brownian</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="physics-method" value="1"/>Splat</label>
      <label class="btn btn-lit-info btn-lit navbar-btn active"><input type="radio" name="physics-method" value="2" checked/>Field</label>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><span class="navbar-label"><i class="fa fa-lg fa-map"></i></span></li>
    </ul>

    <div class="btn-group navbar-left" data-toggle="buttons">
      <label class="btn btn-lit-info btn-lit navbar-btn active"><input type="radio" name="render-texture" value="0" checked/>Field</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="render-texture" value="1"/>Gradient</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="render-texture" value="2"/>RGBX</label>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><span class="navbar-label"><i class="fa fa-lg fa-calculator"></i></span></li>
    </ul>

    <div class="btn-group navbar-left" data-toggle="buttons">
      <label class="btn btn-lit-info btn-lit navbar-btn"><input id="fract-render-values" type="checkbox"/>Fract</label>
      <label class="btn btn-lit-info btn-lit navbar-btn active"><input id="scale-render-values" type="checkbox" checked/>Sigmoid</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input id="render-magnitude" type="checkbox"/>Norm</label>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><span class="navbar-label"><i class="fa fa-lg fa-map"></i></span></li>
    </ul>

    <div class="btn-group navbar-left" data-toggle="buttons">
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="space-type" value="0"/>Finite</label>
      <label class="btn btn-lit-info btn-lit navbar-btn active"><input type="radio" name="space-type" value="1" checked/>Wrapped</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="space-type" value="2"/>Infinite</label>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><span id="stats-fps-label" class="btn btn-danger btn-group-label navbar-btn">0.00 FPS</span></li>
    </ul>
  </div>
</div>

<div class="container">
  <h4>Requires ES6 & WebGL 2.0 &#x2605; Runs Best In Firefox (and Chrome) &#x2605; Does Not Run On Mobile</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <label for="particle-count">Particle Count:</label>
      <input id="particle-count" type="range" min="16" max="5120" step="16" value="512"/>

      <label for="particle-speed">Particle Speed Factor:</label>
      <input id="particle-speed" type="range" min="0.00625" max="2.0" step="0.00625" value="0.05"/>

      <!--<label for="particle-mass">Particle Mass:</label>-->
      <!--<input id="particle-mass" type="range" min="0.00625" max="2.0" step="0.00625" value="1.0"/>-->

      <label for="r-coefficient">R-Force Coefficient:</label>
      <input id="r-coefficient" type="range" min="0.001" max="10.0" step="0.0001" value="0.1"/>

      <label for="field-size">Field Effect Size:</label>
      <input id="field-size" type="range" min="1.0" max="300.0" step="1.0" value="75.0"/>

      <label for="field-min-factor">Field Min Distance:</label>
      <!--<input id="field-min-factor" type="range" min="0.1" max="20.0" step="0.1" value="1.0"/>-->
      <input id="field-min-factor" type="range" min="2.0" max="16.0" step="0.1" value="8.0"/>

      <label for="max-field-lines">Clamp Field Lines:</label>
      <input id="max-field-lines" type="range" min="0.0" max="10.0" step="1.0" value="1.0"/>

      <div><input id="scale-force-to-space" type="checkbox" class="checkbox-inline"/>&nbsp;Scale Force to Space</div>
      <div><input id="circular-field-effect" type="checkbox" class="checkbox-inline" checked/>&nbsp;Circular Field</div>
      <div><input id="defer-gradient-calc" type="checkbox" class="checkbox-inline"/>&nbsp;Defer Gradient Calculation</div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <label for="audio-color-shift-gain">Gain</label>
          <input id="audio-color-shift-gain" type="range" min="0.01" max="5.0" step="0.01" value="1.0"/>

          <div><input id="audio-color-shift-enabled" type="checkbox"/>&nbsp;Enable Audio Color Shift</div>

          <label for="audio-color-shift-r">R-Period</label>
          <input id="audio-color-shift-r" type="range" min="200" max="2500" step="1" value="1257"/>

          <label for="audio-color-shift-g">G-Period</label>
          <input id="audio-color-shift-g" type="range" min="200" max="2500" step="1" value="1153"/>

          <label for="audio-color-shift-b">B-Period</label>
          <input id="audio-color-shift-b" type="range" min="200" max="2500" step="1" value="1297"/>
        </div>
      </div>
    </div>
  </div>
</div>