<div class="container">
  <h4>Requires ES6 & WebGL 2.0 &#x2605; Runs Best In Firefox (and Chrome) &#x2605; Does Not Run On Mobile</h4>
</div>

<div id="canvas-ui-bar-top" class="navbar navbar-inverse navbar-graphics navbar-graphics-top">
  <div class="container">
    <div class="btn-group navbar-left">
      <button id="btn-play-pause" class="btn btn-primary navbar-btn" onclick="togglePause()"><i class="fa fa-lg fa-pause"></i></button>
      <button id="btn-activate-mic" class="btn btn-primary navbar-btn" onclick="activateMic()"><i class="fa fa-lg fa-microphone"></i></button>
      <button id="btn-reset" class="btn btn-primary navbar-btn" onclick="setResetParticles()"><i class="fa fa-lg fa-refresh"></i></button>

      <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>

    </div>
  </div>


  <div id="main-canvas-container" class="canvas-container">
    <canvas id="main-canvas" class="wide-canvas" height="500"></canvas>
  </div>

  <div id="canvas-ui-bar-bottom" class="navbar navbar-inverse navbar-graphics navbar-graphics-bottom">
    <div class="container">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <label for="particle-count">Particle Count</label>
      <input id="particle-count" type="range" min="16" max="5120" step="16" value="512"/>

      <label for="time-dialation">Time "Dialation"</label>
      <input id="time-dialation" type="range" min="0.00625" max="2.0" step="0.00625" value="0.05"/>

      <label for="r-coefficient">R-Force Coefficient:</label>
      <input id="r-coefficient" type="range" min="0.001" max="10.0" step="0.0001" value="0.1"/>

      <label for="field-size">Field Effect Size:</label>
      <input id="field-size" type="range" min="1.0" max="300.0" step="1.0" value="75.0"/>



      <label for="max-field-lines">(rename)</label>
      <input id="max-field-lines" type="range" min="0.0" max="10.0" step="1.0" value="1.0"/>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>