<div id="dat-gui-container" style="position:absolute; right:20px;"></div>

<div id="main-canvas-container" class="canvas-container">
  <canvas id="main-canvas" class="wide-canvas" style="height:500px;"></canvas>
</div>

<div id="canvas-ui-bar-bottom" class="navbar navbar-inverse navbar-graphics navbar-graphics-bottom">
  <div class="container">
    <div class="btn-group navbar-left">
      <button id="btn-play-pause" class="btn btn-primary navbar-btn"><i class="fa fa-lg fa-pause"></i></button>
      <button id="btn-activate-mic" class="btn btn-primary navbar-btn"><i class="fa fa-lg fa-microphone"></i></button>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><span class="navbar-label"><i class="fa fa-lg fa-paper-plane-o"></i></span></li>
    </ul>
    <div class="btn-group navbar-right" data-toggle="buttons">
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="physics-method" value="0"/>Brownian</label>
      <label class="btn btn-lit-info btn-lit navbar-btn"><input type="radio" name="physics-method" value="1"/>Splat</label>
      <label class="btn btn-lit-info btn-lit navbar-btn active"><input type="radio" name="physics-method" value="2" checked/>Field</label>
    </div>
  </div>
</div>

<div class="container">
  <div id="animation-alerts"></div>
</div>

{% include graphics/title-group-below.html %}
