{% if page.featured_image or page.featured_video_id %}
<div class="topper">
  {% if page.featured_image %}
  <span class="img" style="background-image: url('{{ page.featured_image }}');">
    {% endif %}

    {% if page.featured_video_id %}
    <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
</div>
{% endif %}

<div class="project-title-group">

  {% if page.headline %}
  <aside>{{ page.headline }}</aside>
  {% endif %}

  <h1 class="special">
    <span>
      {% if page.title %}
      {{ page.title }}
      {% endif %}
    </span>
  </h1>

  <aside>
    {{ page.date | date: "%Y" }}

    {% if page.categories != empty %}
    {% for category in page.categories %}
    &middot;&nbsp;<span>{{ category | capitalize }}</span>
    {% endfor %}
    {% endif %}

    {% if page.repo_url %}
    &nbsp;<span><a href="{{ page.repo_url }}"><i class="fa fa-lg fa-github-square"></i></a></span>
    {% endif %}

  </aside>

  {% if post.lead_text %}
  <p class="lead">
    {{ post.lead_text }}
  </p>
  {% endif %}
</div>
