{% if page.featured_image or page.featured_video_id %}
<div class="topper">
  {% if page.featured_image %}
  <span class="img" style="background-image: url('{{ page.featured_image }}');">
    {% endif %}

    {% if page.featured_video_id %}
    <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  </span>
</div>
{% endif %}

<div class="title-group">
  {% if page.headline %}
  <aside>{{ page.headline }}</aside>
  {% endif %}

  <h1 class="special">
    <span>
      {% if page.title %}
      {{ page.title }}
      {% else %}
      <i class="fa fa-star"></i> {{ site.data.global.title }} <i class="fa fa-rocket"></i>
      {% endif %}
    </span>
  </h1>

  {% if page.id %}
  <aside>
    {{ page.date | date: "%m.%d.%y" }}
    {% if page.categories != empty %}
    &middot;
    {% for category in page.categories %}
    <span>{{ category | capitalize }}</span>
    {% endfor %}
    {% endif %}
  </aside>
  {% endif %}

  <aside>
    <span class="title-subglyph">
      &nbsp;(&nbsp;λ&nbsp;<i class="fa fa-heart"></i>
      <a href="#" id="btn-subglyph" onclick="toggleSubglyph()" data-toggle="tooltip" title="Click Me To Escape Index-Based Censorship">§µßƍŁ¥þĦ</a>
      )&nbsp;
    </span>
  </aside>
</div>
