{% include header.html %}

<script type="text/javascript" src="/js/three.js"></script>
<script type="text/javascript" src="/js/three/stats.js"></script>
<script type="text/javascript" src="/js/3d.js"></script>
<script type="text/javascript" src="/js/jscolor.js"></script>
<script type="text/javascript" src="/js/gl-matrix.min.js"></script>
<script type="text/javascript" src="/js/gltf-loader.js"></script>
<script type="text/javascript" src="/js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="/js/highlight/styles/zenburn.css"/>

<article>
  {% if page.graphics_ui_layout }} %}
    {% include {{ page.graphics_ui_layout }} %}
  {% endif %}

  <div class="container">
    <section class="article-content">
      {{ content }}
    </section>
  </div>

  <div class="container">
    <section class="comments">
      {% include disqus.html title=page.title url=page.url %}
    </section>
  </div>

</article>

{% include footer.html %}
